@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

* {
    scrollbar-color: #312e81 #00000000;
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    max-width: 6px;
    max-height: 6px;
}

*::-webkit-scrollbar-track {
    background: #00000000;
}

*::-webkit-scrollbar-thumb {
    background-color: #312e81;
    border-radius: 10px;
}
